html {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
body {
    font-family: serif;
    color: black;
}  
#parrafo {
    width: 1250px;
}
#boton {
    margin-top: 5px;
    margin-bottom: 5px;
}