body {
    background-color: whitesmoke;
}

#main {
    background-color: white;
    margin-top: 1%;
    margin-left: 35%;
    margin-right: 35%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
    width: 32%;
    font-family: Arial;
}

#div1 {
    background-color: rgb(213, 239, 255);
    margin-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 15px;
}

#div2 {
    background-color: rgb(213, 239, 255);
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#div3 {
    background-color: rgb(213, 239, 255);
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

button {
    border: white 1px solid;
    background-color: white;
    width: 32%;
    height: 3%;
    text-align: center;
}